<h2>ADMIN SETTINGS</h2>

<section class="allAdminSettingsContent">
        
    <section class="adminContent container">
        <h2 class="">Orders</h2>
        <a href="/orders">Go to all orders</a>

    </section>

    <section class="adminContent container">
        <table class="table">
            <h2 class="settingsInput">Products</h2>
            <tr>
                <th>ProdID</th>
                <th>Prod image</th>
                <th>Prod name</th>
                <th>Amount in stock</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            <%
            if(Products.length != 0) {
                Products.forEach(function(data){
            %>
            <tr>
                <td><%=data.ProdID; %></td>
                <td>
                    <section class="cartPic">
                        <a href="/product?id=<%=data.ProdID; %>"><img class="cartPic" src="<%=data.Picture; %>" alt="Product pic"></a>
                    </section>
                </td>
                <td><a href="/product?id=<%=data.ProdID; %>"><%=data.Pname; %></a></td>
                <td><%=data.AmountInStock; %></td>
                <td><%=data.Price; %></td>
                <td><a class="remove" href="/settings/removeProduct?id=<%=data.ProdID; %>">X</a></td>
            </tr>
            <% });
        
            } %>
        </table>
    </section>
    
    <section class="adminContent container">
        <section class="adminAddUpdateProd">
            <form class="productsForm" enctype="multipart/form-data" action="/settings/addProduct" method="POST">
                <h2 class="settingsInput">Add a product</h2>
                <section class="settingsInput">
                    <p>Product name</p>
                    <input class="input" type="text" name="pName" required autocomplete="off"/>
                </section>
            
                <section class="settingsInput">
                    <p>Price</p>
                    <input class="input" type="tel" name="price" required autocomplete="off"/>
                </section>
            
                <section class="settingsInput">
                    <p>Description</p>
                    <textarea class="desc input" type="text" name="pDesc" required autocomplete="off" /></textarea>
                </section>
            
                <section class="settingsInput">
                    <p>Image</p>
                    <input class="input" type="file" name="picture" required autocomplete="off"/>
                </section>
            
                <section class="settingsInput">
                    <p>Amount</p>
                    <input class="input" type="number" name="amount" required autocomplete="off"/>
                </section>
            
                <input class="input" type="submit" value="Add Product" />
            
            </form>
            <form class="productsForm" action="/settings/updateProduct" method="POST">
                <h2 class="settingsInput">Update a product</h2>
                
                <section class="settingsInput">
                    <p>Product ID</p>
                    <input class="input" type="number" name="pID" required autocomplete="off"/>
                </section>

                <section class="settingsInput">
                    <p>New Product Name</p>
                    <input class="input" type="text" name="pName" autocomplete="off"/>
                </section>
            
                <section class="settingsInput">
                    <p>New Price</p>
                    <input class="input" type="tel" name="price" autocomplete="off"/>
                </section>
            
                <section class="settingsInput">
                    <p>New Description</p>
                    <textarea class="desc input" type="text" name="pDesc" autocomplete="off" /></textarea>
                </section>
            
                <section class="settingsInput">
                    <p>New Image</p>
                    <input class="input" type="file" name="picture" autocomplete="off"/>
                </section>
            
                <section class="settingsInput">
                    <p>Add/Remove amount to/from stock</p>
                    <input class="input" type="number" name="amount" autocomplete="off"/>
                </section>
            
                <input class="input" type="submit" value="Update Product" />
            
            </form>
        </section>
    </section>

    <section class="adminContent container">
        <table class="Table">
            <h2 class="settingsInput">Users</h2>
            <tr class="manageUsers">
                <th>UserID</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Password</th>
                <th>Mail</th>
                <th>Address</th>
                <th>Remove</th>
            </tr>
            <%
            if(Users.length != 0) {
                Users.forEach(function(data){
            %>
            <tr>
                <td><%=data.UserID; %></td>
                <td><%=data.Fname; %></td>
                <td><%=data.Lname; %></td>
                <td><%=data.HPassword; %></td>
                <td><%=data.Email; %></td>
                <td><%=data.HomeAddress; %></td>
                <td><a class="remove" href="/settings/removeUser?id=<%=data.UserID; %>">X</a></td>
            </tr>
            <% });
        
            } %>
        
        </table>
    </section>
</section>
