
<section class="adminSettingsContent">
    <h1>ADMIN SETTINGS</h1>
    
    <form class="productsForm" action="/settings/addProduct" method="POST">
        <section class="settingsInput">
            <p>Product name</p>
            <input type="text" name="pName" required autocomplete="off"/>
        </section>
    
        <section class="settingsInput">
            <p>Price</p>
            <input type="tel" name="price" required autocomplete="off"/>
        </section>
    
        <section class="settingsInput">
            <p>Description</p>
            <input type="text" name="pDesc" required autocomplete="off" />
        </section>
    
        <section class="settingsInput">
            <p>Image</p>
            <input type="file" name="picture" required autocomplete="off"/>
        </section>
    
        <section class="settingsInput">
            <p>Amount</p>
            <input type="number" name="amount" required autocomplete="off"/>
        </section>
    
        <input type="submit" value="Update" />
    
    </form>
    
    <table class="table">
        <tr>
            <th>Prod image</th>
            <th>Prod name</th>
            <th>Amount in Stock</th>
            <th>Price</th>
            <th>Remove</th>
    
    
        </tr>
        <%
        if(Products.length != 0) {
            Products.forEach(function(data){
        %>
        <tr>
            <td><a href="/product?id=<%=data.ProdID; %>"><img class="cartPic" src="<%=data.Picture; %>" alt="Product pic"></a></td>
            <td><a href="/product?id=<%=data.ProdID; %>"><%=data.Pname; %></a></td>
            <td><%=data.AmountInStock; %></td>
            <td><%=data.Price; %></td>
            <td><a href="/settings/removeProduct?id=<%=data.ProdID; %>">X</a></td>
        </tr>
        <% });
    
        } %>
    </table>
    
    <table class="table">
        <tr>
            <th>UserID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Password</th>
            <th>Mail</th>
            <th>Address</th>
            <th>Remove</th>
        </tr>
        <%
        if(Users.length != 0) {
            Users.forEach(function(data){
        %>
        <tr>
            <td><%=data.UserID; %></td>
            <td><%=data.Fname; %></td>
            <td><%=data.Lname; %></td>
            <td><%=data.HPassword; %></td>
            <td><%=data.Email; %></td>
            <td><%=data.HomeAddress; %></td>
            <td><a href="/settings/removeUser?id=<%=data.UserID; %>">X</a></td>
        </tr>
        <% });
    
        } %>
    
    </table>
</section>
