<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Cart</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="mainContent">
            
            <h1>Shop</h1>

            <p> En fin hemsida, inte cursed </p>
            <% if (session.userid) { %>

                <p>Inloggad</p>

            <% } else { %>

                <p>INTE inloggad</p>
                
            <% } %>

            <section class="productContainer">
                <%
                if(cart.length != 0) {
                    cart.forEach(function(data){
                %>
                    <a href="/product?id=<%=data.ProdID; %>">
                        <section class="product">
                            <p>CUST ID: <%=data.CustID; %></p>
                            <p>ProdID: <%=data.ProdID; %></p>
                            <p>AMOG: <%=data.AmountToBuy; %></p>
                        </section>
                    </a> 
                <% });
                
                } %>
            </section>

        </section>
    
    </main>

</body>
</html>