<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Shop</title>
</head>
<body>

    <header>
        <section class="content">
            <%- include('header.ejs'); %>
        </section>
    </header>

    <main>

        <section class="mainContent">
            
            <h1>Shop</h1>

            <p> En fin hemsida, inte cursed </p>
            <% if (session.userid) { %>

                <p>Inloggad</p>

            <% } else { %>

                <p>INTE inloggad</p>
                
            <% } %>

            <section class="productContainer">
                <%
                if(ProductTable.length != 0) {
                    ProductTable.forEach(function(data){
                %>
                    <a href="/lol">
                        <section class="product">
                            <p><%=data.Pname; %></p>
                            <img src="<%=data.Picture; %>" alt="awawdaw">
                            <p><%=data.Price; %></p>
                            <p><%=data.Pdesc; %></p>
                            <p><%=data.AmountInStock; %></p>
                            <form action="/addToCart">
                                <input type="submit" value="Add to cart" /> 
                            </form>
                        </section>
                    </a> 
                <% });
                
                } %>
            </section>

        </section>
    
    </main>

</body>
</html>