<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Shop</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="mainContent">
            
            <h1>Shop</h1>

            <section class="productContainer">
                <%
                if(ProductTable.length != 0) {
                    ProductTable.forEach(function(data){
                %>  
                    <section class="productContainerA container" >
                        <a href="/product?id=<%=data.ProdID; %>" class="productA">
                            <section class="product">
                                <section class="prodImg">
                                    <img src="<%=data.Picture; %>" alt="<%=data.Pname; %>">
                                </section>
                                <h3><%=data.Pname; %></h3>
                                <p>Rated: <%=data.Rating; %>/5</p>
                                <p>Price: <%=data.Price; %>$</p>
                                <!--  <p class="productDesc"><%=data.Pdesc; %></p> -->
                            </section>
                        </a> 
                        <% if (session.userid) { %>
                            <a class="addToCartButton" href="/cart/addToCart?id=<%=data.ProdID; %>&amount=1&from=homepage"> Add to Cart</a> 
                        <% } else { %>
                            <a class="addToCartButton" href="/login?login=false"> Add to Cart</a>
                        <% } %>  
                        
                    </section>
                    
                <% });
                
                } %>
            </section>

        </section>
    
    </main>

</body>
</html>