<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Manage Users</title>

</head>
<body>
    <h1>Users</h1>
    <p> The users in the database </p>
    
    <form action="/UsersForm" method="GET">
        <input type="text" name="fName" required />
        <input type="text" name="lName" required /> 
        <input type="password" name="password" required autocomplete="off" /> 
        <input type="email" name="mail" required /> 
        <input type="text" name="address" /> 
        <input type="submit" value="Submit" /> 
    </form> 

    <form action="/sel" method="GET"> 
        <input type="text" name="sel" required /> 
        <input type="submit" value="Submit" /> 
    </form>

    <table class="table">
        <tr>
            <th>UserID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Password</th>
            <th>Mail</th>
            <th>Address</th>
        </tr>
        <%
        if(UsersTable.length != 0) {
            UsersTable.forEach(function(data){
        %>
        <tr>
            <td><%=data.UserID; %></td>
            <td><%=data.Fname; %></td>
            <td><%=data.Lname; %></td>
            <td><%=data.HPassword; %></td>
            <td><%=data.Email; %></td>
            <td><%=data.HomeAddress; %></td>
        </tr>
        <% });
        
         } %>


    </table>
</body>