<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Shop</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="mainContent">
            
            <h1>Product</h1>

            <section class="">
                <%
                if(product.length != 0) {
                    product.forEach(function(data){
                %>
                    <p></p>
            
                    <section class="singleProd">
                        <section class="thumbnail">
                            <h2><%=data.Pname; %></h2>
                            <h3><%=data.Rating; %></h3>
                            <img class="prodPic" src="<%=data.Picture; %>" alt="awawdaw">
                        </section>
                        <section class="prodInfo">
                            <h3><%=data.Price; %>$</h3>
                            <h3><%=data.Pdesc; %></h3>
                            <h3><%=data.AmountInStock; %></h3>
                            <% if (session.userid) { %>
                                <a class="addToCartButton" href="/cart/addToCart?id=<%=data.ProdID; %>"> Add to Cart</a> 
                            <% } else { %>
                                <a class="addToCartButton" href="/login"> Add to Cart</a>
                            <% } %>  
                        </section>
                    </section>

                <% });
                
                } %> 

            </section>

        </section>
    
    </main>

</body>
</html>