<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Shop</title>
</head>
<body>

    <%- include('header.ejs'); %>

    
    <main>
        
        

        <section class="mainContent">
            
            <h1>Product</h1>
            

            <section class="">
                <%
                if(product.length != 0) {
                    product.forEach(function(data){
                %>

            
                    <section class="singleProd">
                        <section class="thumbnail">
                            <h2><%=data.Pname; %></h2>
                            <h3><%=data.Rating; %></h3>
                            <img class="prodPic" src="<%=data.Picture; %>" alt="awawdaw">
                        </section>
                        <section class="prodInfo">
                            <section class="textInfo">
                                <h2><%=data.Price; %>$</h2>
                                <h3><%=data.Pdesc; %></h3>
                                <h3>Stock: <%=data.AmountInStock; %></h3>
                            </section>

                            <input id="amountCart" type="number" max="99" min="1" value="1">
                            <% if (session.userid) { %>
                                <a id="aADD" class="addToCartButton" href="#"> Add to Cart</a>
                            <% } 
                            else { %>
                                <a class="addToCartButton" href="/login?login=false"> Add to Cart</a>
                            <% } %>  
                        </section>
                    </section>


                    <script type="text/javascript">
        
                        var val = document.getElementById("amountCart").value;
                        var a = document.getElementById("aADD");
                        a.href = "/cart/addToCart?id=<%=data.ProdID; %>" + "&amount=" + val;
                        document.getElementById("amountCart").addEventListener("click", function(){
                            val = document.getElementById("amountCart").value;
                            a.href = "/cart/addToCart?id=<%=data.ProdID; %>" + "&amount=" + val + "&from=product";
                        });
        
                    </script>

                <% });
                
                } %> 

            </section>

            

        </section>
        
    
    </main>

    

</body>
</html>