<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Settings</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="mainContent">

            <% if (session.isAdmin) { %>

                <%- include('adminSettings.ejs'); %>

            <% } %>

            <section class="settingsContent container">

                <h2>Profile</h2>

                <%
                    if(UserInfo.length != 0) {
                        UserInfo.forEach(function(data){
                %>
                
                <form action="/settings/changeUserInfo" method="POST">
                    <section class="settingsInput">
                        <p>First name</p>
                        <input class="input" type="text" name="fName" value="<%=data.Fname; %>" required autocomplete="off"/>
                    </section>
                
                    <section class="settingsInput">
                        <p>Last name</p>
                        <input class="input" type="text" name="lName" value="<%=data.Lname; %>" required autocomplete="off"/>
                    </section>
                
                    <section class="settingsInput">
                        <p>Password</p>
                        <input class="input" type="password" name="password" value="<%=data.HPassword; %>" required autocomplete="off" />
                    </section>
                    <section class="settingsInput">
                        <p>Address</p>
                        <input class="input" type="text" name="address" value="<%=data.HomeAddress; %>" required autocomplete="off"/>
                    </section>
                
                    <input class="input" type="submit" value="Update" />
                </form>
                <% });
                
                } %>
                <a class="deleteAccount" href="/settings/deleteAccount">Delete Account</a>
            </section>

            <% if(orders.length != 0) { %>

                <section class="container">
                    <table class="cartTable">
                        <h2>Orders</h2>
                    
                        <tr>
                            <th>OrderID</th>
                            <th class="cartMargin">Product</th>
                            <th class="cartMargin">Address</th>
                            <th class="cartMargin">Price</th>
                            <th class="cartMargin">Amount</th>
                            <th class="cartMargin">Status</th>
                        </tr>
                        <%
                        orders.forEach(function(data){
                        %>
                            <tr>
                                <td><%=data.OrderID; %></td>
                                <td><%=data.Pname; %></td>
                                <td><%=data.Address; %></td>
                                <td><%=data.Price; %></td>
                                <td><%=data.AmountToBuy; %></td>
                                <td><%=data.OrderStatus; %></td>
                            </tr>
                        <%
                        });
                        %>
                    </table>
                </section>

            <% } %>

        </section>
    
    </main>

    <%- include('footer.ejs'); %>

    <script>
        if (window.location.href == (window.location.protocol + "//" +window.location.host + "/settings?error=invalidPrice")) {
            alert("A product has to have a positive price!");
        }
        if (window.location.href == (window.location.protocol + "//" +window.location.host + "/settings?error=negativeAmount")) {
            alert("Items in stock can not be less then zero!");
        }
    </script>

</body>
</html>