<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Settings</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="mainContent">
            
            <h1>Settings</h1>

            <p> En fin hemsida, inte cursed </p>
            <% if (session.userid) { %>

                <p>Inloggad</p>

            <% } else { %>

                <p>INTE inloggad</p>
                
            <% } %>

            <%
                if(UserInfo.length != 0) {
                    UserInfo.forEach(function(data){
            %>
            
            <form class="settingsForm" action="/settings/settingsForm" method="POST">
                <section class="settingsInput">
                    <p>First name</p>
                    <input type="text" name="fName" value="<%=data.Fname; %>" required autocomplete="off"/>
                </section>
                
                <section class="settingsInput">
                    <p>Last name</p>
                    <input type="text" name="lName" value="<%=data.Lname; %>" required autocomplete="off"/>
                </section>
                
                <section class="settingsInput">
                    <p>Password</p>
                    <input type="password" name="password" value="<%=data.HPassword; %>" required autocomplete="off" />
                </section>

                <section class="settingsInput">
                    <p>Address</p>
                    <input type="text" name="address" value="<%=data.HomeAddress; %>" required autocomplete="off"/>
                </section>
                
                <input type="submit" value="Update" /> 
            </form>

            <% });
                
            } %>


            <table class="table">
                <tr>
                    <th>UserID</th>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Password</th>
                    <th>Mail</th>
                    <th>Address</th>
                </tr>
                <%
                if(UserInfo.length != 0) {
                    UserInfo.forEach(function(data){
                %>

                <tr>
                    <td><%=data.UserID; %></td>
                    <td><%=data.Fname; %></td>
                    <td><%=data.Lname; %></td>
                    <td><%=data.HPassword; %></td>
                    <td><%=data.Email; %></td>
                    <td><%=data.HomeAddress; %></td>
                </tr>
                <% });
                
                } %>
            </section>

        </section>
    
    </main>

</body>
</html>