<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Settings</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="mainContent">
            
            <h1>Profile</h1>

            <section class="settingsContent container">
                <%
                    if(UserInfo.length != 0) {
                        UserInfo.forEach(function(data){
                %>
                
                <form class="settingsForm" action="/settings/settingsForm" method="POST">
                    <section class="settingsInput">
                        <p>First name</p>
                        <input class="input" type="text" name="fName" value="<%=data.Fname; %>" required autocomplete="off"/>
                    </section>
                
                    <section class="settingsInput">
                        <p>Last name</p>
                        <input class="input" type="text" name="lName" value="<%=data.Lname; %>" required autocomplete="off"/>
                    </section>
                
                    <section class="settingsInput">
                        <p>Password</p>
                        <input class="input" type="password" name="password" value="<%=data.HPassword; %>" required autocomplete="off" />
                    </section>
                    <section class="settingsInput">
                        <p>Address</p>
                        <input class="input" type="text" name="address" value="<%=data.HomeAddress; %>" required autocomplete="off"/>
                    </section>
                
                    <input class="input" type="submit" value="Update" />
                </form>
                <% });
                
                } %>
                <a class="deleteAccount" href="/settings/deleteAccount">Delete Account</a>
            </section>
            <% if (session.isAdmin) { %>

                <%- include('adminSettings.ejs'); %>

            <% } %>

        </section>
    
    </main>

    <%- include('footer.ejs'); %>

</body>
</html>